* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background: #E7E7E7;
    --text-primary: #080808;
    --text-secondary: #888888;
    --text-tertiary: #AFAFAF;
}

@font-face {
    font-family: "Voyager";
    src: url('Voyager-Regular.otf') format('opentype');
}

body {
    background-color: var(--background);
}

.serif {
    font-family: "Voyager", "Times New Roman", serif;
}

.mono {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.numbers-wrapper {
    position: relative;
    width: 0;
    height: 0;
}

.number {
    color: var(--text-primary);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 0.25rem;
    padding: 1rem;
}

.number-selected {
    font-size: 2rem;
    border-radius: 50%;
    z-index: 400;
}

/* .number-selected:hover {
    opacity: 50%;
    cursor: pointer;
} */

.statement {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}